html, body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
  font-family: aileron_regular_font;
  src: url('../fonts/Aileron-Regular.otf');
}

@font-face {
  font-family: aileron_thin_font;
  src: url('../fonts/Aileron-Thin.otf');
}

@font-face {
  font-family: aileron_thin_italic_font;
  src: url('../fonts/Aileron-ThinItalic.otf');
}

section {
  position: relative;
  max-width: 100%;
}

#section1 {
  height: 650px;
  background-image: url("../imgs/y-chat.jpg");
/*  padding-top: 3em;
  padding-bottom: 1em;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.layer {
  background-color: rgba(47, 35, 61, .7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#section2 {
  position: relative;
  height: auto;
  padding-top: 3em;
  padding-bottom: 7em;
  background-image: url("../imgs/white_wall_hash.png");
}

#section3 {
  position: relative;
  height: 550px;
  padding-top: 3em;
  padding-bottom: 1em;
  background: #231A2E;
/*  background-image: url("../imgs/radial.png");
  background-repeat: none;
  background-size: cover;*/
  opacity: .875;
  text-align: center;
}

#section3 h1 {
  font-size: 40px;
  font-family: aileron_regular_font;
  text-align: center;
  color: white;
}

#section4 {
  position: relative;
  height: 200px;
  padding-top: 3em;
  padding-bottom: 1em;
  background-image: url("../imgs/white_wall_hash.png");
}

.heading-wrapper {
  position: relative;
  top: 150px;
  text-align: center;
  color: white;
  font-family: aileron_thin_font;
  font-size: 35px;
}

.sub-heading-wrapper {
  position: relative;
  top: 150px;
  text-align: center;
  color: white;
  font-family: aileron_thin_italic_font;
  font-size: 20px;
}

.about-wrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 600px;
  color: #616365;
}

.about-wrapper a {
  text-decoration: none;
  color: #616365;
}

.about-wrapper h1 {
  font-family: aileron_regular_font;
  font-size: 40px;
}

.about-wrapper p {
  font-family: aileron_regular_font;
  line-height: 150%;
  font-size: 19px;
}

.skills-wrapper {
  position: relative;
  text-align: center;
  padding-top: 30px;
  width: 100%;
  height: auto;
  color: #616365;
/*  overflow: auto;
  overflow-y: hidden;*/
}

.skills-wrapper h1 {
  position: relative;
  font-family: aileron_regular_font;
  font-size: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.dev-skills {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 8em;
  margin-right: 8em;
}

.dev-skills h1 {
  font-family: aileron_regular_font;
  font-size: 27px;
  text-align: center;
  padding: 20px 0 0 0;
  margin: 0;
}

.dev-skills ul {
  position: relative;
  font-size: 18px;
  text-align: center;
  line-height: 140%;
  font-family: aileron_regular_font;
  list-style-type: none;
  padding: 20px 0 0 0;
  margin: 0;
}

.dev-skills i {
  font-size: 70px;
  color: #BA8F1B;
}

.contact-wrapper {
  position: absolute;
  text-align: center;
  padding: 6px;
  bottom: 5px;
  margin: 0 auto;
  width: 100%;
}

footer {
  padding-bottom: 20px;
  padding-top: 20px;
}

#first-page-arrow-down i {
  position:absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 45px;
  color: white;
}

hr {
  border: 0;
  width: 120px;
  height: 0;
  border-radius: 3px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 25px auto;
}

#send-message .hover-trigger {
  display: block;
  position: relative;
  text-decoration: none;
  color: #231A2E;
  border: 3px solid #231A2E;
  padding: 22px 0 0 0;
  width: 250px;
  text-align: center;
  height: 45px;
  border-radius: 7px;
  margin: 0 auto;
  font-size: 18px;
  font-family: aileron_regular_font;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;

}

#send-message .hover-trigger:hover {
  color: #BA8F1B;
  border: 3px solid #BA8F1B;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}


.icons i {
  margin-right: 10px;
  text-decoration: none;
  color: #231A2E;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.icons i:hover {
  color: #BA8F1B;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.bit {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.bit:hover {
  color: #BA8F1B;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.project {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 45%;
  margin: 1.5em;
  border: 2px solid #40310A;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.project p {
  color: #fff;
  font-family: aileron_regular_font;
  background-color: rgba(64, 49, 10, .9);
/*  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));*/
  padding: 15px;
  line-height: 18px;
  text-align: justify;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 auto;
  height: 40%;
  width: 100%
  opacity: 1;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}

.project small {
  display: block;
  position: relative;
  padding-top: 10px;
  font-size: 14px;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.tic-tac-foot-links {
  font-family: aileron_regular_font;
  font-size: 16px;
  margin-left: 5.9%
}

.tic-tac-foot-links a {
  padding-left: 15px;
  color: #BA8F1B;
  text-decoration: none;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.tic-tac-foot-links a:hover {
  color: #231A2E;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.tic-tac-foot-links i {
  padding-right: 4px;
}

.moker-links {
  font-family: aileron_regular_font;
  font-size: 16px;
  margin-left: 21.7%;
}

.moker-links a {
  padding-left: 15px;
  color: #BA8F1B;
  text-decoration: none;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.moker-links a:hover {
  color: #231A2E;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.moker-links i {
  padding-right: 4px;
}

.show-description p  {
  height: 20px;
}

.show-description small {
  opacity: 0;
}

.first {
  background-image: url("../imgs/tictacfoot.jpg");
}

.second {
  background-image: url("../imgs/moker.jpg");
}

.third {
  background-image: url("../imgs/personal-site.jpg");
}

.color-overlay {
  border-radius: 5px;
  background-color: rgba(4, 101, 223, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*
@media only screen and (max-width : 1206px) {
 #section2 {
  position: relative;
  height: auto;
  padding-top: 3em;
  padding-bottom: 10em;
  background-image: url("../imgs/white_wall_hash.png");
 }
}
*/

@media only screen and (min-width : 1224px) {

  .tic-tac-foot-links {
    margin-left: 1%;
  }

  .moker-links {
    margin-left: 17%;
  }


}
