@import '../base/variables'

.project
  h1
    font-size: 3em
  p
    line-height: 2em
  a.project-link
    font-size: 3em
    border-bottom: 4px solid #FFF
    width: $project-button-width
    padding-bottom: 6px
    text-decoration: none
  a.project-link:visited
    color: #FFF
  
.project-header
  font-family: $proxima-bold
  font-size: $project-header
  color: #48466D

.project-subheader
  font-family: $proxima-light-italic
  font-size: $project-subheader
  color: #48466D
  
.project-desc
  text-align: left
  font-size: $project-desc

.resume
  background: #46CDCF
  h1
    color: #48466D
  h3
    color: #48466D
  p
    color: #48466D
    
.wealth-boost
  background: #656778
  h1
    color: #D8E9F0
  h3
    color: #D8E9F0
  p
    color: #D8E9F0
    
.gekkou
  background: #FE967B
  h1
    color: #F06868
  h3
    color: #FFF
  p
    color: #FFF
    
.moker
  background: #4AA0D5
  h1
    color: #454756
  h3
    color: #FFF
  p
    color: #FFF
    
.tic-tac-foot
  background: #FAF8EF
  h1
    color: #625772
  h3
    color: #625772
  p
    color: #625772
  a.project-link
    color: #F9A1BC
    border-bottom: 4px solid #F9A1BC
  a.project-link:visited
    color: #F9A1BC
    border-bottom: 4px solid #F9A1BC