@import '../base/typography'

.resume-section
  padding: 200px
  background: #46CDCF

.resume-link
  text-align: center
  text-decoration: none
  color: #52616B
  font-size: 3em

.resume-link:visited
  color: #52616B

.resume-link img
  width: 200px
  height: 200px
  display: block
  margin: 0 auto

.resume-subheader
  font-family: $proxima-light
  font-size: 3.5em
  margin-bottom: 0
  