@import '../base/typography'

.resume-section
  background: #46CDCF

.resume-link
  text-decoration: none

.resume-link:visited
  color: #52616B

.resume-subheader
  font-family: $proxima-bold
  color: #52616B
  @media (min-width: 600px)
    font-size: 3rem