@import '../base/typography'

.resume-section
  background: #46CDCF

.resume-link
  text-decoration: none

.resume-link:visited
  color: #52616B

.resume-subheader
  font-size: 4em
  font-family: $proxima-bold
  color: #52616B