.header-name
  width: 90%
  margin: 0 auto
  text-align: center
  padding-top: 7rem
    
// Icons
.icons-section
  width: 80%
  margin: 0 auto
  text-align: center
  
.icons
  padding: 1rem 2rem 1rem 2rem
  width: 3rem
  height: 3rem

// About Me Desc
.desc
  width: 90%
  max-width: 800px
  text-align: left
  margin: 0 auto
  padding: 6rem 0 6em 0

// Resume
.resume-section
  padding: 7rem

.resume-link
  text-align: center

.resume-link img
  width: 8rem
  height: 8rem
  display: block
  margin: 0 auto
  
// Projects
.project
  padding: 7rem 0 7rem 0
  text-align: center
  .image-cont
    position: relative
    width: 90%
    margin: 0 auto
    .imac
      width: 100%
    .iphone
      width: 30%
      position: absolute
      right: -1%
      top: 26%
  h1
    padding-top: 2rem
  p
    width: 90%
    margin: 0 auto

.skills-container
  height: 10rem
  width: 90%
  margin: 0 auto

.skill
  display: inline-block
  margin-right: 0.2rem
  margin-top: 0.4rem
  padding: 1rem

// Email
.email-section
  width: 90%
  margin: 0 auto
  text-align: center
  padding: 7rem 0 7rem 0
  
// Footer
.footer-text
  width: 90%
  margin: 0 auto
  padding: 7rem 0 7rem 0
  text-align: center