@import '../base/variables'

.btn
  display: inline-block
  background: #EB586F
  border-radius: 0.5rem
  font-size: 2rem
  line-height: 2.8rem
  padding: 1.2rem 3.5rem
  color: #FFF
  box-shadow: 0 0.15rem 0.05rem #C74A5E
  text-decoration: none

.btn img
  width: 2rem
  height: 2rem
  margin-right: 0.5rem